<%= render 'partial/navbar' %>
<div class="container">
    <div class="col-md-3">
        <!-- vertical-navbar -->
        <%= render 'partial/verticalnavbar'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="text-center">
                  <span style="font-size:24px;">あなたが住んでいるところ</span>
              </div>
          </div>
          <div class="panel-body">           
              <%= form_for @listing do |f| %>
                  <div class="row">
                      <div class="col-md-12 select">
                       	<div class="form-group">
									<label>あなたの住んでいる国のお近くの都市</label>
									<%= f.select :home_type, [["Abul","Abul"], ["Jakarta","Jakarta"],["Tokyo","Tokyo"],
									["Kuala Lumpur","Kuala Lumpur"],["Manila","Manila"],["Moscow","Moscow"],["Hanoi","Hanoi"],
									["Dhaka","Dhaka"],["Thimphu","Thimphu"],["Phnom Penh","Phnom Penh"],["Beijin","Beijin"],
									["New Delhi","New Delhi"],["Teheran","Teheran"],["Astana","Astana"],["Seoul","Seoul"],
									["Bishkek","Bishkek"],["Vientiane","Vientiane"],["Male","Male"],["Ulaanbaatar","Ulaanbaatar"],
									["Yangon","Yangon"],["Kathmandu","Kathmandu"],["Islamabad","Islamabad"],["Colombo","Colombo"],
									["Bangkok","Bangkok"],["Ashkhabad","Ashkhabad"],["Tashkent","Tashkent"],["Singapore","Singapore"],
									["Taipei","Taipei"]],
									{prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
                      </div>
                  </div>
                  <br>
                  <div class="actions">
                      <%= f.submit "更新", class: "btn btn-danger" %>
                  </div>
              <% end %>
          </div>
      </div>
  </div>
</div>